language: java

dist: trusty
# Stick to the previous image version untill the performance regression
# introduced with https://docs.travis-ci.com/user/build-environment-updates/2016-12-01/
# is fixed by Travis, or we make tpcds.q14_1 pass in reasonalbe time again ourselves.
# The regression can be considered as fixed when q14_1 passes in around 6 minutes here:
# https://travis-ci.org/ArturGajowy/presto-checks/builds/185624131
group: deprecated

services:
- docker

env:
  global:
    - DOCKER_IMAGES_VERSION=latest
    - HADOOP_MASTER_IMAGE='teradatalabs/hdp2.5-hive:latest'
    - MAVEN_OPTS="-Xmx512M -XX:+ExitOnOutOfMemoryError"
    - MAVEN_SKIP_CHECKS_AND_DOCS="-Dair.check.skip-all=true -Dmaven.javadoc.skip=true"
    - MAVEN_FAST_INSTALL="-DskipTests $MAVEN_SKIP_CHECKS_AND_DOCS -B -q -T C1"
    - DISTRO_SKIP_GROUP=skip_on_hdp

matrix:
  include:
    - env:
      - PRODUCT_TESTS='-g tpcds -x quarantine,$DISTRO_SKIP_GROUP -t q0,q1'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-g tpcds -x quarantine,$DISTRO_SKIP_GROUP -t q2,q3,q4'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-g tpcds -x quarantine,$DISTRO_SKIP_GROUP -t q5,q6,q9'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-g tpcds -x quarantine,$DISTRO_SKIP_GROUP -t q7,q8'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-x quarantine,big_query,profile_specific_tests,tpcds,$DISTRO_SKIP_GROUP'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-g big_query,hdfs_no_impersonation -x tpcds,$DISTRO_SKIP_GROUP'
      - CLUSTER_TYPE='singlenode'
    - env:
      - PRODUCT_TESTS='-g hdfs_impersonation -x $DISTRO_SKIP_GROUP'
      - CLUSTER_TYPE='singlenode-hdfs-impersonation'
    - env:
      - PRODUCT_TESTS='-g ldap_cli -x $DISTRO_SKIP_GROUP'
      - CLUSTER_TYPE='singlenode-ldap'

# The whole section is reserved for overriding by cron-ed API calls.
# Partial overrides are impossible. See https://docs.travis-ci.com/user/triggering-builds.
before_install:
 - export ARTIFACTS_S3_BUCKET='ARTIFACTS_S3_BUCKET_WILL_BE_OVERRIDEN'
 - export ARTIFACTS_S3_PATH='ARTIFACTS_S3_PATH_WILL_BE_OVERRIDEN'
 - export PRESTO_BRANCH='BRANCH_WILL_BE_OVERRIDEN'
 - export PRESTO_BUILD='BUILD_WILL_BE_OVERRIDEN'

install:
- sudo pip install awscli
- |
  aws s3 sync s3://${ARTIFACTS_S3_BUCKET}/${ARTIFACTS_S3_PATH}/${PRESTO_BRANCH}/${PRESTO_BUILD} /tmp/artifacts \
    --exclude '*' \
    --include 'git-revision.txt' \
    --no-sign-request
- git clone --depth=1000 --branch=${PRESTO_BRANCH} https://github.com/Teradata/presto.git
- cd presto
- git checkout `cat /tmp/artifacts/git-revision.txt`
- git show HEAD --shortstat
- |
  if [[ -v PRODUCT_TESTS ]]; then
    aws s3 sync s3://${ARTIFACTS_S3_BUCKET}/${ARTIFACTS_S3_PATH}/${PRESTO_BRANCH}/${PRESTO_BUILD} /tmp/artifacts \
      --exclude '*' \
      --include 'presto-server-*.tar.gz' \
      --include 'presto-cli-*-executable.jar' \
      --include 'presto-product-tests-*-executable.jar' \
      --include 'presto-jdbc-*.jar' \
      --exclude '*-tests.jar' \
      --exclude '*-sources.jar' \
      --no-sign-request
    tar -xf /tmp/artifacts/presto-server-*.tar.gz -C /tmp/
  fi
- |
  if [[ -v MVN_TESTS ]]; then
    ./mvnw install ${MAVEN_FAST_INSTALL} ${MVN_MODULES} -am
  fi

script:
  - export PRESTO_SERVER_DIR=/tmp/presto-server-*
  - export PRESTO_CLI_JAR=/tmp/artifacts/presto-cli-*-executable.jar
  - export PRODUCT_TESTS_JAR=/tmp/artifacts/presto-product-tests-*-executable.jar
  - export PRESTO_JDBC_DRIVER_JAR=/tmp/artifacts/presto-jdbc-*.jar
  - |
    if [[ -v PRODUCT_TESTS ]] && [[ -d ./presto-product-tests/conf/docker/${CLUSTER_TYPE} ]]; then
      ../ensure_command_output.sh ../no_fail_on_no_tests.sh ./presto-product-tests/bin/run_on_docker.sh ${CLUSTER_TYPE} ${PRODUCT_TESTS}
    fi
  - |
    if [[ -v MVN_TESTS ]]; then
      ./mvnw test $MAVEN_SKIP_CHECKS_AND_DOCS -B ${MVN_MODULES} ${MVN_TESTS}
    fi

after_script:
- |
  if [[ -v S3_ACCESS_KEY ]]; then
    export AWS_ACCESS_KEY_ID=${S3_ACCESS_KEY}
    export AWS_SECRET_ACCESS_KEY=${S3_SECRET_KEY}
    mkdir -p /tmp/links/${TRAVIS_BRANCH}
    JOB_STATUS=`[ "$TRAVIS_TEST_RESULT" == "0" ] && echo SUCCESS || echo FAILURE`
    echo "<script>location='https://travis-ci.org/${TRAVIS_REPO_SLUG}/builds/${TRAVIS_BUILD_ID}'</script>" \
      > /tmp/links/${TRAVIS_BRANCH}/${TRAVIS_BUILD_NUMBER}.html
    echo "<script>location='https://travis-ci.org/${TRAVIS_REPO_SLUG}/jobs/${TRAVIS_JOB_ID}'</script>" \
      > /tmp/links/${TRAVIS_BRANCH}/${TRAVIS_JOB_NUMBER}_${JOB_STATUS}.html
    aws s3 sync /tmp/links \
      s3://${ARTIFACTS_S3_BUCKET}/${ARTIFACTS_S3_PATH}/${PRESTO_BRANCH}/${PRESTO_BUILD}/travis_checks
  fi

notifications:
  slack:
    rooms:
      - secure: nySGKmnKD3PyKeKC7G6bHqnPgPeBdlrQsBqWGYrPtvXqdF8X9JLUFHgHrRfeRuMfmqkEjRIibBvnjc6dZNcBZ+fJ8XuF7uAeJofsUZbUpfu8a1P3cglCYVKbmC3ilM1oraIqWxagwxhhBAtnMy5wucrAOQTEBCLkQCtPUyFVCG88VbHXz/5ICtGaKlNUh+HVYXPsx//gyMGT+XdhChtKPSiNlAlmLyqdJAbHAl0TiAaleV+KC8f6LR8vZnew8cuUyv/bXgM0/ImULA8Fsc9uAAvGFwQJ/aDdcsgr9Y0PBLnxnYcbVVudlG5mhjOuKmR2IqOLIf4yf+WhJU3uEwfYUJ52zW0uBRrxj1NszwB4mrFa6qBv+1BuCEiS1fQ54/FInriJE+j2yg/UHN5KAwG0Dt2bOeSH8PZFCdALu9mONHVlqMHPnrMT2PvIUmkvhtAFvOKC8VsIAazTtV1DireV/Zhz8CjV2zBYtWJHNwA2OzK//78jl1X/633c40Hqx54Ya/gTtEvPb91wvbGL2KWK3uH/LUJhn9apjNSWT7tk2Fqcmq7HCGeaHkUMjAbZL45FffChBS1r0SO8/0vteVECbUbTOYkprm9Fb4vXS16GCeLwqfcFEZa13lTRTGaK8FALOm/aHsCzABh2ojdOI1XU32R97bVYd4jaW527Dd0SjyY=
    on_success: change
    on_failure: always

